*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;

}
h2{
    letter-spacing: 5px;
    font-size: 50px;
}
.container{
    perspective: 1000px;
}
.cube{
    transform-style: preserve-3d;
    text-align: center;
    line-height: 150px;
    margin: 200px auto;
    width: 100px;
    font-size: 80px;
    /* transform: rotateX(-30deg) rotateY(25deg) ; */
    animation-name: myRotation;
    animation-duration: 200s;
    animation-delay: 0ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes myRotation {
    from{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    to{
        transform: rotateX(-30deg) rotateY(9000deg);

    }
}
.sides{
    position: absolute;
    top: 20px;
    height: 2em;
    width: 2em;
    border: 1px solid black;
    background: rgba(0, 179, 255, 0.8);

}

.front{
    transform: translateZ(1em);
}
.back{
    transform: rotateY(180deg) translateZ(1em);
    
}
.left{
    transform: rotateY(-90deg) translateZ(1em);
}
.right{
    transform: rotateY(90deg) translateZ(1em);

}
.top{
    transform: rotateX(90deg) translateZ(1em);
}
.bottom{
    transform: rotateX(-90deg) translateZ(1em);

}

